// Drawer navigation custom styles
.nt-drawer__header {
  .nt-drawer__header-image, .nt-drawer__header-brand, .nt-drawer__header-footnote {
    horizontal-align: left;
  }

  .nt-drawer__header-image {
    color: white;
    font-size: small;
    margin-bottom: 5;
  }
}
