<FlexboxLayout class="page">
    <GridLayout rows="3* 2* *">
        <StackLayout row="0">
            <Image src="res://logo.png"></Image>
            <Label class="header" text="Phoad"></Label>
        </StackLayout>
        <StackLayout row="1" class="form" [formGroup]="registerForm">
            <PreviousNextView>
                <StackLayout>
                    <TextField class="input-field" [ngClass]="{'input-field-error' : emailError !== ''}"
                               hint="Email"
                               keyboardType="email"
                               autocorrect="false" autocapitalizationType="none" formControlName="email"
                               (textChange)="onEmailChange($event)"></TextField>
                    <Label class="color-danger input-field-error-label" text="{{emailError}}"
                           [visibility]="emailError ? 'visible': 'collapse'"></Label>

                    <TextField class="input-field" [ngClass]="{'input-field-error': passwordError !== ''}"
                               hint="Password"
                               secure="true"
                               autocapitalizationType="none" formControlName="password"
                               (textChange)="onPasswordChange($event)"></TextField>
                    <Label class="color-danger input-field-error-label" text="{{passwordError}}"
                           [visibility]="passwordError ? 'visible': 'collapse'"></Label>

                    <TextField class="input-field"
                               [ngClass]="{'input-field-error': confirmPasswordError !== ''}"
                               hint="Confirm password" secure="true"
                               (textChange)="onConfirmPasswordChange($event)"
                               autocapitalizationType="none" formControlName="confirmPassword"></TextField>
                    <Label class="color-danger input-field-error-label" text="{{confirmPasswordError}}"
                           [visibility]="confirmPasswordError ? 'visible': 'collapse'"></Label>

                    <Button text="Create account" class="btn btn-primary button" (tap)="submit()"></Button>
                </StackLayout>
            </PreviousNextView>
        </StackLayout>
        <StackLayout row="2" class="bottom-layout">
            <Button text="Back to login" class="link" (tap)="redirectToLogin()"></Button>
        </StackLayout>
    </GridLayout>
</FlexboxLayout>
