<ScrollView>
    <FlexboxLayout class="page">
        <StackLayout class="form" [formGroup]="loginForm">
            <Image src="res://logo.png"></Image>
            <Label class="header" text="Phoad"></Label>

            <TextField class="input-field" [ngClass]="{'input-field-error' : emailError !== ''}" hint="Email"
                       keyboardType="email"
                       autocorrect="false" autocapitalizationType="none" formControlName="email"
                       (textChange)="onEmailChange($event)"></TextField>
            <Label class="color-danger input-field-error-label" text="{{emailError}}"
                   [visibility]="emailError ? 'visible': 'collapse'"></Label>

            <TextField class="input-field" [ngClass]="{'input-field-error': passwordError !== ''}" hint="Password"
                       secure="true"
                       autocapitalizationType="none" formControlName="password"
                       (textChange)="onPasswordChange($event)"></TextField>
            <Label class="color-danger input-field-error-label" text="{{passwordError}}"
                   [visibility]="passwordError ? 'visible': 'collapse'"></Label>

            <Button text="Log in" class="btn btn-primary button" (tap)="submit()"></Button>

        </StackLayout>
        <Button text="Create account" class="link" (tap)="redirectToRegistration()"></Button>
    </FlexboxLayout>
</ScrollView>
