<ActionBar :title="Gallery">
</ActionBar>
<GridLayout [class.dialog-open]="galleryModalOpen">
    <RadListView [items]="gallery.photos" loadOnDemandMode="Auto"
                 (loadMoreDataRequested)="onLoadMoreItemsRequested($event)" class="content">
        <ng-template tkListItemTemplate let-item="item">
            <GridLayout rows="auto, auto" class="gallery-item">
                <Image row="0" [src]="item.photo.imageUrl" class="gallery-photo" stretch="aspectFill"
                       (tap)="imageClicked(item)"></Image>
            </GridLayout>
        </ng-template>

        <ListViewGridLayout
                itemWidth="200"
                itemHeight="200"
                dynamicItemSize="false"
                tkListViewLayout scrollDirection="Vertical"
                spanCount="2"></ListViewGridLayout>
    </RadListView>

    <FlexboxLayout class="dialog-wrapper" (swipe)="swipeDispatch($event)">
        <StackLayout class="dialog">
            <Image row="0" src="{{currentGalleryImage != null ? currentGalleryImage.photo.imageUrl : ''}}" class="gallery-photo"
                   stretch="aspectFill"></Image>
        </StackLayout>
    </FlexboxLayout>
</GridLayout>
