.gallery-label {
    background-color: red;
}

.gallery-item {
    background-color: black;
    margin-bottom: 2;
    margin-right: 2;
    padding: 2;
}

.gallery-item .gallery-photo {
    background-color: azure;
    height: 200;
    width: 200;
}

.dialog-open .content {
    opacity: 0.2;
}
